{% extends "base.html.twig" %}

{% block title %}<title>Listado de materias</title>{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="sub-header">Lista de materias</h1>

 
        {{ form_start(form_materias, {'attr': {'id': 'form_materias', 'type_form': 'create'}}) }}
        {{ form_row(form_materias.id_update) }}
        <div class="form-group col-lg-4">

            {{ form_row(form_materias.nombremateria) }}
        </div>
        <div class="form-group col-lg-4">
            {{ form_widget(form_materias.submit) }}
        </div>
        {{ form_end(form_materias) }}


    </div>
    <div class="info-put  hidden "></div>
    <h1 class="sub-header">Lista de materias</h1>
    <div class="table-responsive ">

        <table class="table table-striped">
            <tr>
                <th>Nombre materia</th>
                <th>Acciones</th>

            </tr>
            </thead>
            <tbody class="comments">
                {% for materia in listMaterias %}
                <tr>
                    <td> {{ materia.nombremateria }} </td>
                    <td> <button type="button" class="btn btn-primary update_button" id_update="{{materia.idMateria }}">Modificar</button>
                        <button type="button" class="btn btn-danger delete_button" id_delete="{{materia.idMateria }}">Eliminar</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/materias.js') }}"></script>

{% endblock %}